body{
    margin: 0px;
    padding: 0px;
}

#container{
    position: relative;
}

header{
    text-align: center;
    border: black 1px solid;
}

#edu-vid{
    text-align: center;
    padding: 30px;
}

button{
    background-color: white;
    border: 0;
    float: left;
    padding: 10px;
    position: relative;
    left: 650px;
}